beszel.ocd.beauty {
    reverse_proxy beszel:8090
}

continuwuity.ocd.beauty {
    reverse_proxy unix//run/continuwuity/continuwuity.sock
}

livekit-server.continuwuity.ocd.beauty {
    @lk-jwt-service path /sfu/get* /healthz* /get_token*
    reverse_proxy @lk-jwt-service lk-jwt-service:8080

    reverse_proxy host.docker.internal:7880
}

navidrome.ocd.beauty {
    reverse_proxy unix//run/navidrome/navidrome.sock
}

gonic.ocd.beauty {
    reverse_proxy gonic:4747
}

dufs.ocd.beauty {
    reverse_proxy unix//run/dufs/dufs.sock
}

uptime-kuma.ocd.beauty {
    reverse_proxy uptime-kuma:3001
}
