ocd.beauty {
    respond /health "OK" 200
}

matrix.ocd.beauty {
    reverse_proxy unix//run/continuwuity/continuwuity.sock
}

livekit.ocd.beauty {
    @lk-jwt-service path /sfu/get* /healthz* /get_token*
    reverse_proxy @lk-jwt-service matrix-lk-jwt-service:8081

    reverse_proxy host.docker.gateway:7880
}

metrics.ocd.beauty {
    reverse_proxy metrics-beszel:8090
}

files.music.ocd.beauty {
    reverse_proxy unix//run/dufs/dufs.sock
}

music.ocd.beauty {
    reverse_proxy music-gonic:80
}

photos.ocd.beauty {
    reverse_proxy photos-ente-server:8080
}

s3.photos.ocd.beauty {
    reverse_proxy photos-garage:3900
}
