ocd.beauty {
    respond /health "OK" 200
}

matrix.ocd.beauty {
    reverse_proxy unix//run/continuwuity/continuwuity.sock
}

metrics.ocd.beauty {
    reverse_proxy beszel:8090
}

files.music.ocd.beauty {
    reverse_proxy unix//run/dufs/dufs.sock
}

music.ocd.beauty {
    reverse_proxy gonic:80
}

photos.ocd.beauty {
    reverse_proxy ente-server:8080
}

s3.photos.ocd.beauty {
    reverse_proxy garage:3900
}
