matrix.ocd.beauty {
    reverse_proxy unix//run/continuwuity/continuwuity.sock
}

livekit.ocd.beauty {
    @lk-jwt-service path /sfu/get* /healthz* /get_token*
    reverse_proxy @lk-jwt-service matrix-lk-jwt-service:8080

    reverse_proxy matrix-livekit-server:7880
}

monitoring.ocd.beauty {
    reverse_proxy monitoring-beszel:8090
}

files.music.ocd.beauty {
    reverse_proxy unix//run/dufs/dufs.sock
}

music.ocd.beauty {
    reverse_proxy music-gonic:80
}

photos.ocd.beauty {
    reverse_proxy ente-server:8080
}

database.photos.ocd.beauty {
    reverse_proxy ente-postgres:3900
}

s3.photos.ocd.beauty {
    reverse_proxy ente-garage:5432
}

dashboard.ocd.beauty {
    reverse_proxy dashboard-homepage:3000
}
