body {
    background-color: rgba(0, 0, 0, 0.6) !important;
    background-image: url('/assets/wallpapers.jpg') !important;
    background-blend-mode: multiply !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    --color-background: transparent !important;
}
