body {
    background-image: url('/assets/wallpapers.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    --color-background: transparent !important;
}
